.ui.borderless.top.menu {
  background-color:white;
  box-shadow: none;
  border: none;
  height: 100px;
}
.centerimage{

  background-size: cover;
  height: 600px;
  color:white;
}
.footer-background {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.ui.footer.image {
  width: 480px;
  height: 240px;
}
hr{
  border-color: orange;
  height: 5px;
  background-color: orange;
}
